<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs', {
            author: 'John Doe',
            title: 'Lorem Ipsum',
            keywords: ['Lorem', 'Ipsum', 'Dolor', 'Sit', 'Amet'],
            description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam cupiditate incidunt ab magni rem voluptates distinctio.'
    }) %>
</head>
<body>
    <%- include('partials/nested-partial') %>

    <main>
        <div class="iterate">
        <% for(let i = 0; i < 10; i++) { %>
            <%- include('partials/section', {
                content: `Section: ${i + 1}`
            }) %>
        <% } %>
        </div>
        <div class="variable-formats">
            <%- include('partials/section', {
                content: `Section: Format 1`
            }) %>
            <%- include('partials/section', { content: `Section: Format 2` }) %>
            <%- include('partials/section', { content:
                `Section: Format 3` }) %>
            <%- include('partials/section', {   
                       content:    `Section: Format 4`   
            }) %>
        </div>
    </main>

    <%- include('partials/footer') %>
</body>
</html>